body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
.header {
	height: 90px;
}
.logo {
	margin:10px 0 15px 30px;
}
.logo span {
	font-size: 50px;
}
.logo img {
	position: relative;
	top: 5px;
	width: 50px;
	margin-right: 10px;
}
.container {
	width: 30%;
    position: absolute;
    color: white;
    text-align: center;
    height: 45px;
    top: 0;
    right: 0;
}
#toggle, .main_menu>a{
	display: none;
 }
label{
	background: #5094f2;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 100%;
    cursor: pointer;
   	z-index:2; 
    line-height: 40px;
    border-radius: 2px;
}
.burger_line {
	position: absolute;
	top: 10px;
	right: 12px;
	background: #fff;
	width: 36px;
	height: 5px;
	border-radius: 1px;
	transition: .5s all;
}
.second,.third {
	top: 20px;
}
.fourth {
	top: 30px;
}
.main_menu {
	display: block;
	position: absolute;
	width: 100%;
	bottom: -20px;
	right: 20px;
	transform: translateY(100%);
	max-height: 0;
	font-size: 0;
	overflow: hidden;
	transition: .5s all;
	border-radius: 5px;
}
.main_menu a {
	display: block;
	width:100%;
	padding: 10px;
	color: white;
	text-decoration: none;
	background:#5094f2;
}
.main_menu a:hover {
	opacity: .95;
}
/*при чекнутом чекбоксе появляется меню*/
#toggle:checked ~ .main_menu{
	width: 100%;
	max-height: 500px;
	font-size: 16px;
}
/*трансформация меню в крестик первая и последняя линия исчезают*/
#toggle:checked + label>.first{
	display: none;
}
#toggle:checked + label>.second{
	transform: rotate(45deg);
}
#toggle:checked + label>.third{
	transform: rotate(-45deg);
}
#toggle:checked + label>.fourth{
	display: none;
}
.first_section{
	height: 245px;
	background:url("img/background.png") no-repeat;
	background-size: 100% auto;
	display: grid;
	grid-template-columns: 40% 60%;
	color: white;
}
.img {
	background:url("img/iphone.png") no-repeat;
	background-position: center center;
}
.container_sign_up h1,.button {
	font-size: 31px;
}
.button{
	display: inline-block;
	text-decoration: none;
	color: white;
	padding:0px 15px 5px 15px;
	background: #5094f2;
	text-align: center;
}
.button img{
	position: relative;
	top: 5px;
	width: 30px;
}