*{
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}
body{
	margin:0;
	padding: 0;
	background:url("img/background_first.png") no-repeat;
	color: #f5f5f5;
}
.header_section{
	height: 115px;
	border-bottom: 1px solid #626262;
}
.logo{
	display: inline-block;
	position: relative;
	top: 20px;
	left: 14%;	
	background: #11749e;
	width: 67px;
	height: 67px;
	box-shadow: 12px 8px #c4c3c2;
}
.logo h6{
	display: inline-block;
	font-size: 30px;
	margin: 15px 15px;
	font-weight: bold;
}
.container_main_menu{
	display:inline-block;
	position: absolute;
	top: 55px;
	left: 33%;
}
.main_menu a{
	text-decoration: none;
	color: #d8d8d8;
	font-size: 20px;
	margin-left: 35px;
	font-weight: 500;
}
.main_menu a:hover{
	padding-bottom: 30px;
	border-bottom: 6px solid #11749e;
}
.social{
	position: absolute;
	top: 5px;
	right: -40px;
}
.social div{
	position: absolute;
	display: inline-block;
	background-image: url("img/social_icon.png");
	width: 18px;
	height: 18px;
}
.social div:hover{
	opacity: 0.8;
}
.second_icon{
	right: -60px;
	background-position: -40px 0px;
}
.third_icon{
	right: -110px;
	background-position: -83px 0px;
}
.fourth_icon{
	right: -160px;
	background-position: 18px 0px;
}
.headline_section{
	text-align: center;
	height: 530px;
}
.headline h1{
	margin-top: 235px;
	font-size: 152px;
}
.headline span{
	font-size: 24px;
	color: #11749e;
	letter-spacing: 22px;
	padding-left: 20px;
	margin-top: 38px;
}
.container_scroll_down{
	position: relative;
	top: 100px;
}
.button{
	width: 65px;
	height: 65px;
	border:1px solid #f5f5f5;
	border-radius: 50%;
	margin:0 auto;
	margin-top: 20px;
	background:url("img/scroll_down_icon.png") no-repeat center;
}
.button a{
	display:inline-block;
	width: 100%;
	height: 100%;
}
.button:hover{
	opacity: 0.6;
}
.awesome_agency_section{
	background:#11749e;
	height: 711px;
	text-align: center;
}
.headline_awesome h2{
	font-size: 37px;
	padding-top: 170px;
	margin-bottom: 145px;
	letter-spacing: 4px;
}
.headline_awesome h2:after{
	content: "W";
	opacity: 0.2;
	font-size: 247px;
	position: absolute;
	top: 920px;
	right: 42%;
}
.container_features{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin:0 auto;
	width: 70%;
}
.feature{
	margin:0 20px;
}
.img_feature{
	background:url("img/features_icon.png")no-repeat -30px 55px;
	width: 135px;
	height: 135px;
	margin:0 auto;
	border-radius: 50%;
	background-color:#2e85aa;
}
.three{
	background-position: -120px 55px;
}
.four{
	background-position: 55px 55px;
}
.feature h4{
	font-size: 18px;
	margin-top:23px;
}
.feature p{
	font-size: 15px;
	margin-top:25px;
}
.container_cards{
	display: grid;
	grid-template-columns:50% 50%;
	height: 948px;
}
.card_img_one{
	background:url("img/card_img_one.png")no-repeat;
}
.card_img_two{
	background:url("img/card_img_two.png")no-repeat;
}
.card_text{
	background:#222;
	padding: 105px 85px 0 250px;
}
.card_text span{
	font-size: 13px;
}
.card_text h3{
	font-size: 25px;
	margin-top:15px;
	margin-bottom: 15px;
}
.card_text p{
 font-size: 15px;
 margin-top: 20px;
}
.card_text:nth-child(4){
	background-color: #f3f3f3;
	color: #222;
	padding: 105px 250px 0 80px;
}
.blog_section{
	color: #222;
	text-align: center;
	background:#fff;
}
.headline_blog h2{
	margin: 165px 0 115px 0;
	font-size: 38px;
	position: relative;;
}
.headline_blog h3{
	font-size: 30px;
	margin-bottom: 75px;
}
.headline_blog h2:after{
	content: "B";
	position: absolute;
	display: block;
	opacity: 0.2;
	font-size: 250px;
	top: -134px;
	right: 45%;;;;
}
.container_cards_blog{
	width:80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.container_cards_blog img{
	width:100%;
}
.card_blog{
	display: grid;
	margin:0 10px;
}
.card_blog h4{
	font-size: 18px;
	color: #11749e;
	margin: 44px 0 28px 0;
}
.card_blog p{
	font-size: 15px;
	margin-bottom: 110px;
}
.blog_footer{
	height: 355px;
	background:#11749e;
}
.container_footer{
	width: 80%;
	margin: auto;
	padding-top: 110px;
	display: grid;
	grid-template-columns: 50% 50%
}
.container_footer p{
	text-align: left;
	font-size: 15px;
	line-height: 20px;
	color:#dfecf2;
	padding: 0px 70px;
	word-spacing: 8px
}
.img_footer{
	width: 70px;
	height:70px;
	background:url("img/img_footer_blog.png")no-repeat;
	float: left;
	margin-right: 30px;
	margin-bottom: 40px;
}
.akita_dog_section{
	background:url("img/akita_dog_background.png") -50px -20px;
	height: 850px;
}
.container_akita_dog{
	display: grid;
	grid-template-columns: 45% 45%;
}
.text_akita_dog{
	padding:160px 60px 0 160px;
}
.text_akita_dog h4{
	margin-top: 70px;
	font-size: 25px;
}
.text_akita_dog p{
	font-size: 15px;
	margin-top: 30px;
	line-height: 25px;
	word-spacing: 10px;
	padding-right: 0px;
}
.text_akita_dog span{
	background:#11749e;
	display:block;
	width: 70%;
	padding: 10px 18px;
	margin-top: 65px;
	font-size: 15px;
}
span:nth-child(4){
	margin-top:25px;
	width: 75%;
}
span:nth-child(5){
	margin-top:25px;
	width: 85%;
}
.img_akita_dog{
	background:url("img/iphone.png") center 115px no-repeat;
	height: 850px;
}
.our_team_section{
	height: 945px;
	color: #222;
	text-align: center;
}
.cards_our_team{
	width: 80%;
	margin:0 auto;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2%;
}
.headline_our_team{
	margin: 120px 0 70px 0;
}
.headline_our_team h2{
	font-size: 38px;
	margin-bottom: 120px;
	position: relative;;
}
.headline_our_team p{
	font-size: 30px;
	margin-bottom: 70px;
}
.headline_our_team h2:after{
	content: "T";
	position: absolute;
	display: block;
	opacity: 0.2;
	font-size: 240px;
	top: -120px;
	right: 45%;
}
.card_team{
	margin:auto;
	width: 100%;
	height:450px;
	background-image:url("img/our_team_img_1.png"); 
	background-position:center top;
	background-size: 100%;
	background-repeat: no-repeat;
}
.card_team:nth-child(2){
	background-image:url("img/our_team_img_2.png");
}
.card_team:nth-child(3){
	background-image:url("img/our_team_img_3.png");
}
.card_team:nth-child(4){
	background-image:url("img/our_team_img_4.png");
}
.card_team_name{
	width: 80%;
	height:70px;
	padding: 20px 0;
	background: white;
	position: relative;
	top: 88%;
	left: 10%;
}
.card_team_name h6{
	font-size: 20px;
	color: #11749e;
}
.card_team_name span{
	font-size: 15px;
	font-weight: bold;
}
.submit_section{
	height:850px;
	background:url("img/background_sibmit.png");
	text-align: center;
}
.container_submit{
	width: 80%;
	margin:0 auto;
}
.headline_submit h2{
	font-size: 37px;
	padding-top: 220px;
	position: relative;;
}
.headline_submit h2:after{
	content: "C";
	position: absolute;
	display: block;
	opacity: 0.2;
	font-size: 240px;
	top: 90px;;
	right: 45%;
}
.form_submit input{
	width:25%;
	margin:10px;
	margin-top:140px;
	padding: 10px;
	background:none;
	border:1px solid #fff;
	color: #fff;
}
.form_submit textarea{
	width: 82%;
	background: none;
	color: #fff;
	padding: 10px;
	margin-top: 30px;
}
.button_submit{
	margin-top: 30px;
	padding: 15px;
}
.button_submit a{
	background:#11749e;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	padding: 10px 60px;
}
footer{
	background:#222;
}
.container_maps{
	background:url("img/footer_maps.png") no-repeat;
	height:330px;
}
.container_text{
	height:65px;
	width:80%;
	color: #fff;
	margin:auto;
	padding-top: 50px;
	font-size: 15px;
}
@media screen and (max-width: 1280px){
	body{
		background-position: center top;
	}
	.social{
		display:none;
	}
	h2:after{
		left: 44%;
	}
	.headline_awesome h2:after{
		left: 39.5%
	}
	.container_features{
		width:80%;
	}
	.container_features p{
		font-size: 18px;
	}
	.card_text{
		padding-left: 160px;
	}
	.card_text p{
		font-size: 100%;
	}
	.card_text:nth-child(4){
		padding-right: 165px;
	}
	.card_blog p{
		font-size: 100%;
	}
	.card_team_name{
		top: 72%;
	}
	.img_footer{
		width:80px;
		height:80px;
		background-size:100%;
	}
}
@media screen and (max-width: 1024px){
	.container_features{
		width:90%;
	}	
	.card_team_name{
		top: 56%;;
	}
	.container_cards_blog{
		width:90%;
	}
	.container_main_menu{
		left: 25%;
	}
}


