@font-face{
	font-family: Amsdam Regular;
	src:url("Amsdam_Regular.ttf");
}
body{
	padding: 0;
	font-family: 'Crimson Text', serif;
	box-sizing: border-box;
	margin: 0;
}
header{
	font-family: 'Montserrat', sans-serif;
}
.wrapper_navigation_and_social{
	height:65px;
	width: 70%;
	margin:auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align:center;
	color: #757575;
}
.logo_container{
	display:flex;
	align-items:center;
}
.logo_img{
	position: relative;
	top:-2px;
	margin-right: 10px;
}
.logo_text{
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 2px;
}
.navigation_container{
	position: relative;
	left: -70px;
}
.navigation_container a{
	text-decoration: none;
	color: #757575;
	margin-left: 10px;	
	font-size: 10px;
}
.social_container{
	display:flex;
}
.social_icon{
	width:10px;
	height:10px;
	background-image:url("../img/icon_social.png");
	background-repeat: no-repeat;
	margin:2px;
}
.social_icon_two{
	background-position: -11px;
	width:14px;
	border-left: 1px solid #757575;
	border-right: 1px solid #757575;
}
.social_icon_three{
	background-position: right;
	width: 15px;
}
.wrapper_first_headline{
	height:635px;
	display:flex;
	align-items: center;
	background:url("../img/first_bg.png") 0px -60px no-repeat;
	background-color: #7b8d8c;
	color: #fff;
}
.flex_vertical_center{
	margin:0 auto;
	text-align: center;
}
.before_headline{
	font-size:14px;
	letter-spacing: 3px;
	color: #f4f5f5;
}
.first_headline{
	font-size: 36px;
	font-family: "Amsdam Regular";
	font-weight: normal;
	letter-spacing: 6px;
	padding: 34px 25px;
	border-style: solid;
	border-width: 9px 0px ;
	border-image: url(../img/line_headline.png) 5 0 5 0 repeat repeat;
}
.button_after_first_headline{
	margin-top: 20px;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	padding: 10px 40px;
	cursor: pointer;
}
.about_us{
	background-color: #e3e3e3;
}
.wrapper_about_us{
	width: 70%;
	margin:0 auto;
	padding-top: 75px;
}
.header_background{
	background-image: url("../img/background_about_us.png");
	background-position: center;
	height:325px;
}
.content_conteiner{
	background-color: white;
}
.headline{
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	font-family: "Amsdam Regular";
	padding:60px 0 40px 0;
	margin:0;
}
.about_us_text{
	width: 90%;
	margin:0 auto;
	font-size: 14px;
	margin-bottom: 40px;
}
.wrapper_buttons{
	display:flex;
	justify-content: center;
	padding-bottom: 50px
}
.button_about_us{
	width: 135px;
	height:40px;
	background:inherit;
	border: 2px solid black;
	margin:2px;
	font-size: 13px;
}
.button_about_us:hover{
	background:black;
	color: white;
}
.statistic_container{
	margin:0px 30px;
	padding: 50px 0px;
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	text-align: center;
	color: #3e3d3d;
}
.img_footer_about_us{
	background-image: url("../img/about_us_sprite.png");
	width: 42px;
	height: 40px;
	margin:0 auto;
	margin-bottom: 20px;
}
.two_img_us{
	background-position: -45px;
}
.three_img_us{
	background-position: -90px;
}
.fourth_img_us{
	background-position: -133px;
}
.statistic_item{
	border-right:1px solid #b0b0b0;
}
.statistic_item:last-child{
	border: none;
}
.statistic_item span{
	font-size: 13px;
}
span.statistic_item_number{
	font-size: 45px;
	font-weight: bold;
	display: block;
	margin-top: 10px;
}
.services{
	height:743px;
	background:url("../img/background_services.png") no-repeat center center;
	background-color: #282830;
	color:#e3e3e3;
}
.wrapper_services{
	width: 70%;
	margin:0 auto;
	display:flex;
	flex-direction: column;
	text-align: center;
}
.text_srvices{
	font-size: 14px;
	width: 75%;
	margin:0 auto;
	padding:0 0 80px 0;
}
.container_cards_services{
	display:flex;
	justify-content: space-between;
}
.card_item_services{
	width: 18%;
	padding:10px 30px;
	border: 1px solid white;
	border-top: none;
	background: linear-gradient(#fff, #000), linear-gradient(#fff, #000);
	background-size: 105px 3px, 105px 3px;
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right top;
	/*разрыв бордера*/
}
.img_card_item{
	background-image: url("../img/services_sprite.png");
	width: 26px;
	height:25px;
	margin:0 auto;
	position: relative;
	top: -21px;
}
.img_card_item_two{
	background-position: -37px;
}
.img_card_item_three{
	background-position: -68px;
}
.img_card_item_fourth{
	background-position: -104px;
}
.card_item_services h6{
	font-size: 13px;
}
.card_item_services p{
	font-size: 16px;
}
.history{
	height:1495px;
	background:url("..//img/background_history.png") no-repeat center center;
}
.wrapper_history{
	width: 70%;
	margin:0 auto;
}

